h1 Addon Request

p Hi there,

p #{account.name} wanted to enable a premium addon and needs your help to activate it.

p Here are the details:

p Features: #{features}

p Account: #{account.id}

p User: #{user.userName} <#{user.email}>

p Have a nice day!

p The mailing system