mixin switch(id, checked)
  - checked = checked || false
  .switch()&attributes(attributes)
    input.switch__toggle(type="checkbox" id="#{id}-switch" checked=(true===checked ? "checked" : undefined))
    label.switch__label(for="#{id}-switch")