.addons {
  max-width: 640px;
}

.addon {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  background: $color-gray;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;

  &__error {
    padding: 0.25em 1em;
    background: $color-error;
    color: black;
  }

  &__info {
    padding: 0.25em 1em;
    background: $color-information;
    color: black;
  }

  &__image {
    width: 200px;
    height: 150px;
    margin: 1em;
    float: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid $color-information;
  }

  &__switch {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  &__new {
    color: yellow;
    font-size: 1rem;
  }

  &__title {
    display: inline-block;
    font-size: 1.6rem;
    color: $color-gray-lightest;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    line-height: 1;
  }

  &__switch {
    float: right;
  }

  &__details {
    background: white;
    padding: 1em;
  }

  &__description {
    max-width: 50%;
  }

}