.header {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1em;

  &__user {
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: $color-gray-lightest;
  }

  &__container {
    flex: 1;
    max-height: 4.4em;
    background-image: linear-gradient(to right, $color-gray, $color-gray-light);
  }

  &__brand {
    color: $color-gray-lightest;
    font-weight: 500;
    font-size: 2rem;
    display: inline-block;
    margin-right: 2em;
    text-shadow: 0px 0px 5px black;
  }

  &__navigation {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  &__navigation-item {
    display: inline-block;
    margin: 0 0.5em;
  }

  &__link {
    position: relative;
    color: $color-gray-lightest;
    padding: 1em 0.5em 0.3em;
    text-decoration: none;
    text-shadow: 0px 0px 5px black;
    text-transform: uppercase;
    font-size: 1.2rem;

    &:hover {
      color: white;
      border-bottom: 5px solid deepskyblue;
    }
  }
}