include ../../mixins/switch.jade

.addon__title
  | #{title}
  if isAddonNew()
    span.addon__new new
+switch(accessor, isAddonEnabled()).addon__switch

if error
  .addon__error=error

if isAddonPending()
  .addon__info You already requested this plugin to be enabled.

.addon__details
  if image
    .addon__image(style="background-image: url(/uploads/#{image})")
  p.addon__description=description
  span.clear