$color-gray: #485563;
$color-gray-dark: darken($color-gray, 15%);
$color-gray-light: lighten($color-gray, 15%);
$color-gray-lightest: lighten($color-gray, 50%);

$color-red: #f88379;

$color-blue: #87CEFA;


$color-background1: $color-gray;

$color-error: $color-red;
$color-information: $color-blue;