* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

.clear {
  clear: both;
  display: block;
}