.notification {
  position: absolute;
  top: 0em;
  background: red;
  color: white;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  height: 1.5em;
  border-radius: 1.5em 1.5em 1.5em 0;
  padding: 0 0.5em;
}