.switch {

  &__toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }

  &__toggle + &__label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }

  &__toggle:checked + &__label {
    &:before {
      background-color: #8ce196;
    }

    &:after {
      left: auto;
      right: 1px;
    }
  }

  &__label {
    padding: 2px;
    width: 3em;
    min-height: 1.5em;
    background-color: #AAAAAA;
    border-radius: 1.5em;

    &:before {
      right: 1px;
      background-color: #CCCCCC;
      border-radius: 1.5em;
      transition: background 0.4s;
      content: ''
    }

    &:after {
      width: 1.5em;
      right: 1px;
      background-color: #f1f1f1;
      border-radius: 1.5em;
      transition: background 0.4s;
      content: '';
    }

    &:before,
    &:after {
      display: block;
      position: absolute;
      top: 1px;
      left: 1px;
      bottom: 1px;
    }
  }
}