.header
  .header__brand SocialHub

  ul.header__navigation
    li.header__navigation-item
      a.header__link(href="#home")
        | Inbox
    li.header__navigation-item
      a.header__link(href="#settings/addons")
        | Addons
        if getNewAddonCount() > 0
          - addonCount = getNewAddonCount()
          span.notification #{addonCount}
  .header__user
    | Hello #{userName}