h1 Addons

a(href="/addons/new") Create new addon

table
  tr
    th accessor
    th title
    th description
    th isPremium
    th notifyUsers
    th actions
  each addon in addons
    tr
      td=addon.accessor
      td=addon.title
      td=addon.description
      td=addon.isPremium
      td=addon.notifyUsers
      td
        a(href="/addons/#{addon.id}") Show
        a(href="/addons/#{addon.id}/edit") Edit