h1 Addon#create

form(method="post" action="/addons" enctype="multipart/form-data")
  .input-row
    label Accessor (used as reference for feature toggling later)
    input(type="text" name="addon[accessor]" required)
  .input-row
    label Title
    input(type="text" name="addon[title]" required)
  .input-row
    label Description
    textarea(name="addon[description]" required)
  .input-row
    label Image to show
    input(type="file" name="addon[image]")
  .input-row
    label is premium feature
    input(type="checkbox" name="addon[isPremium]")
  //.input-row
  //  label should users be notified
  //  input(type="checkbox" name="addon[notifyUsers]")
  .input-row
    input(type="submit")