h1 Addon

a(href="/addon/#{addon.id}/edit") Edit

.property
  span.property__label id
  span.property__value=addon.id
.property
  span.property__label accessor
  span.property__value=addon.accessor
.property
  span.property__label title
  span.property__value=addon.title
.property
  span.property__label description
  span.property__value=addon.description
.property
  span.property__label premium feature
  span.property__value=addon.isPremium
.property
  span.property__label should users get notified
  span.property__value=addon.notify